<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo App{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'todo_front/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Todo Management System</h1>
        </header>

        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'todo_front/app.js' %}"></script>
</body>
</html>
